<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.plussum.ebatch.persistence.dao.generator.LayoutMstMapper">
  <resultMap id="BaseResultMap" type="jp.co.plussum.ebatch.domain.entity.generator.LayoutMst">
    <id column="lay_id" jdbcType="BIGINT" property="layId" />
    <result column="lay_shp_id" jdbcType="BIGINT" property="layShpId" />
    <result column="lay_content" jdbcType="VARCHAR" property="layContent" />
    <result column="lay_del_flg" jdbcType="CHAR" property="layDelFlg" />
    <result column="lay_cdate" jdbcType="DATE" property="layCdate" />
    <result column="lay_ctime" jdbcType="TIME" property="layCtime" />
    <result column="lay_ctimestamp" jdbcType="TIMESTAMP" property="layCtimestamp" />
    <result column="lay_udate" jdbcType="DATE" property="layUdate" />
    <result column="lay_utime" jdbcType="TIME" property="layUtime" />
    <result column="lay_utimestamp" jdbcType="TIMESTAMP" property="layUtimestamp" />
    <result column="version_no" jdbcType="BIGINT" property="versionNo" />
    <result column="lay_update_user" jdbcType="BIGINT" property="layUpdateUser" />
    <result column="lay_update_sys_name" jdbcType="VARCHAR" property="layUpdateSysName" />
    <result column="lay_update_class_name" jdbcType="VARCHAR" property="layUpdateClassName" />
    <result column="lay_update_method_name" jdbcType="VARCHAR" property="layUpdateMethodName" />
    <result column="lay_update_crud_kbn" jdbcType="CHAR" property="layUpdateCrudKbn" />
    <result column="lay_sys_remarks" jdbcType="VARCHAR" property="laySysRemarks" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    lay_id, lay_shp_id, lay_content, lay_del_flg, lay_cdate, lay_ctime, lay_ctimestamp, 
    lay_udate, lay_utime, lay_utimestamp, version_no, lay_update_user, lay_update_sys_name, 
    lay_update_class_name, lay_update_method_name, lay_update_crud_kbn, lay_sys_remarks
  </sql>
  <select id="selectByExample" parameterType="jp.co.plussum.ebatch.domain.entity.generator.LayoutMstCriteria" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from layout_mst
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from layout_mst
    where lay_id = #{layId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from layout_mst
    where lay_id = #{layId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="jp.co.plussum.ebatch.domain.entity.generator.LayoutMstCriteria">
    delete from layout_mst
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="jp.co.plussum.ebatch.domain.entity.generator.LayoutMst">
    insert into layout_mst (lay_id, lay_shp_id, lay_content, 
      lay_del_flg, lay_cdate, lay_ctime, 
      lay_ctimestamp, lay_udate, lay_utime, 
      lay_utimestamp, version_no, lay_update_user, 
      lay_update_sys_name, lay_update_class_name, lay_update_method_name, 
      lay_update_crud_kbn, lay_sys_remarks)
    values (#{layId,jdbcType=BIGINT}, #{layShpId,jdbcType=BIGINT}, #{layContent,jdbcType=VARCHAR}, 
      #{layDelFlg,jdbcType=CHAR}, #{layCdate,jdbcType=DATE}, #{layCtime,jdbcType=TIME}, 
      #{layCtimestamp,jdbcType=TIMESTAMP}, #{layUdate,jdbcType=DATE}, #{layUtime,jdbcType=TIME}, 
      #{layUtimestamp,jdbcType=TIMESTAMP}, #{versionNo,jdbcType=BIGINT}, #{layUpdateUser,jdbcType=BIGINT}, 
      #{layUpdateSysName,jdbcType=VARCHAR}, #{layUpdateClassName,jdbcType=VARCHAR}, #{layUpdateMethodName,jdbcType=VARCHAR}, 
      #{layUpdateCrudKbn,jdbcType=CHAR}, #{laySysRemarks,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="jp.co.plussum.ebatch.domain.entity.generator.LayoutMst">
    insert into layout_mst
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="layId != null">
        lay_id,
      </if>
      <if test="layShpId != null">
        lay_shp_id,
      </if>
      <if test="layContent != null">
        lay_content,
      </if>
      <if test="layDelFlg != null">
        lay_del_flg,
      </if>
      <if test="layCdate != null">
        lay_cdate,
      </if>
      <if test="layCtime != null">
        lay_ctime,
      </if>
      <if test="layCtimestamp != null">
        lay_ctimestamp,
      </if>
      <if test="layUdate != null">
        lay_udate,
      </if>
      <if test="layUtime != null">
        lay_utime,
      </if>
      <if test="layUtimestamp != null">
        lay_utimestamp,
      </if>
      <if test="versionNo != null">
        version_no,
      </if>
      <if test="layUpdateUser != null">
        lay_update_user,
      </if>
      <if test="layUpdateSysName != null">
        lay_update_sys_name,
      </if>
      <if test="layUpdateClassName != null">
        lay_update_class_name,
      </if>
      <if test="layUpdateMethodName != null">
        lay_update_method_name,
      </if>
      <if test="layUpdateCrudKbn != null">
        lay_update_crud_kbn,
      </if>
      <if test="laySysRemarks != null">
        lay_sys_remarks,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="layId != null">
        #{layId,jdbcType=BIGINT},
      </if>
      <if test="layShpId != null">
        #{layShpId,jdbcType=BIGINT},
      </if>
      <if test="layContent != null">
        #{layContent,jdbcType=VARCHAR},
      </if>
      <if test="layDelFlg != null">
        #{layDelFlg,jdbcType=CHAR},
      </if>
      <if test="layCdate != null">
        #{layCdate,jdbcType=DATE},
      </if>
      <if test="layCtime != null">
        #{layCtime,jdbcType=TIME},
      </if>
      <if test="layCtimestamp != null">
        #{layCtimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="layUdate != null">
        #{layUdate,jdbcType=DATE},
      </if>
      <if test="layUtime != null">
        #{layUtime,jdbcType=TIME},
      </if>
      <if test="layUtimestamp != null">
        #{layUtimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="versionNo != null">
        #{versionNo,jdbcType=BIGINT},
      </if>
      <if test="layUpdateUser != null">
        #{layUpdateUser,jdbcType=BIGINT},
      </if>
      <if test="layUpdateSysName != null">
        #{layUpdateSysName,jdbcType=VARCHAR},
      </if>
      <if test="layUpdateClassName != null">
        #{layUpdateClassName,jdbcType=VARCHAR},
      </if>
      <if test="layUpdateMethodName != null">
        #{layUpdateMethodName,jdbcType=VARCHAR},
      </if>
      <if test="layUpdateCrudKbn != null">
        #{layUpdateCrudKbn,jdbcType=CHAR},
      </if>
      <if test="laySysRemarks != null">
        #{laySysRemarks,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="jp.co.plussum.ebatch.domain.entity.generator.LayoutMstCriteria" resultType="java.lang.Long">
    select count(*) from layout_mst
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update layout_mst
    <set>
      <if test="record.layId != null">
        lay_id = #{record.layId,jdbcType=BIGINT},
      </if>
      <if test="record.layShpId != null">
        lay_shp_id = #{record.layShpId,jdbcType=BIGINT},
      </if>
      <if test="record.layContent != null">
        lay_content = #{record.layContent,jdbcType=VARCHAR},
      </if>
      <if test="record.layDelFlg != null">
        lay_del_flg = #{record.layDelFlg,jdbcType=CHAR},
      </if>
      <if test="record.layCdate != null">
        lay_cdate = #{record.layCdate,jdbcType=DATE},
      </if>
      <if test="record.layCtime != null">
        lay_ctime = #{record.layCtime,jdbcType=TIME},
      </if>
      <if test="record.layCtimestamp != null">
        lay_ctimestamp = #{record.layCtimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="record.layUdate != null">
        lay_udate = #{record.layUdate,jdbcType=DATE},
      </if>
      <if test="record.layUtime != null">
        lay_utime = #{record.layUtime,jdbcType=TIME},
      </if>
      <if test="record.layUtimestamp != null">
        lay_utimestamp = #{record.layUtimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="record.versionNo != null">
        version_no = #{record.versionNo,jdbcType=BIGINT},
      </if>
      <if test="record.layUpdateUser != null">
        lay_update_user = #{record.layUpdateUser,jdbcType=BIGINT},
      </if>
      <if test="record.layUpdateSysName != null">
        lay_update_sys_name = #{record.layUpdateSysName,jdbcType=VARCHAR},
      </if>
      <if test="record.layUpdateClassName != null">
        lay_update_class_name = #{record.layUpdateClassName,jdbcType=VARCHAR},
      </if>
      <if test="record.layUpdateMethodName != null">
        lay_update_method_name = #{record.layUpdateMethodName,jdbcType=VARCHAR},
      </if>
      <if test="record.layUpdateCrudKbn != null">
        lay_update_crud_kbn = #{record.layUpdateCrudKbn,jdbcType=CHAR},
      </if>
      <if test="record.laySysRemarks != null">
        lay_sys_remarks = #{record.laySysRemarks,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update layout_mst
    set lay_id = #{record.layId,jdbcType=BIGINT},
      lay_shp_id = #{record.layShpId,jdbcType=BIGINT},
      lay_content = #{record.layContent,jdbcType=VARCHAR},
      lay_del_flg = #{record.layDelFlg,jdbcType=CHAR},
      lay_cdate = #{record.layCdate,jdbcType=DATE},
      lay_ctime = #{record.layCtime,jdbcType=TIME},
      lay_ctimestamp = #{record.layCtimestamp,jdbcType=TIMESTAMP},
      lay_udate = #{record.layUdate,jdbcType=DATE},
      lay_utime = #{record.layUtime,jdbcType=TIME},
      lay_utimestamp = #{record.layUtimestamp,jdbcType=TIMESTAMP},
      version_no = #{record.versionNo,jdbcType=BIGINT},
      lay_update_user = #{record.layUpdateUser,jdbcType=BIGINT},
      lay_update_sys_name = #{record.layUpdateSysName,jdbcType=VARCHAR},
      lay_update_class_name = #{record.layUpdateClassName,jdbcType=VARCHAR},
      lay_update_method_name = #{record.layUpdateMethodName,jdbcType=VARCHAR},
      lay_update_crud_kbn = #{record.layUpdateCrudKbn,jdbcType=CHAR},
      lay_sys_remarks = #{record.laySysRemarks,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="jp.co.plussum.ebatch.domain.entity.generator.LayoutMst">
    update layout_mst
    <set>
      <if test="layShpId != null">
        lay_shp_id = #{layShpId,jdbcType=BIGINT},
      </if>
      <if test="layContent != null">
        lay_content = #{layContent,jdbcType=VARCHAR},
      </if>
      <if test="layDelFlg != null">
        lay_del_flg = #{layDelFlg,jdbcType=CHAR},
      </if>
      <if test="layCdate != null">
        lay_cdate = #{layCdate,jdbcType=DATE},
      </if>
      <if test="layCtime != null">
        lay_ctime = #{layCtime,jdbcType=TIME},
      </if>
      <if test="layCtimestamp != null">
        lay_ctimestamp = #{layCtimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="layUdate != null">
        lay_udate = #{layUdate,jdbcType=DATE},
      </if>
      <if test="layUtime != null">
        lay_utime = #{layUtime,jdbcType=TIME},
      </if>
      <if test="layUtimestamp != null">
        lay_utimestamp = #{layUtimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="versionNo != null">
        version_no = #{versionNo,jdbcType=BIGINT},
      </if>
      <if test="layUpdateUser != null">
        lay_update_user = #{layUpdateUser,jdbcType=BIGINT},
      </if>
      <if test="layUpdateSysName != null">
        lay_update_sys_name = #{layUpdateSysName,jdbcType=VARCHAR},
      </if>
      <if test="layUpdateClassName != null">
        lay_update_class_name = #{layUpdateClassName,jdbcType=VARCHAR},
      </if>
      <if test="layUpdateMethodName != null">
        lay_update_method_name = #{layUpdateMethodName,jdbcType=VARCHAR},
      </if>
      <if test="layUpdateCrudKbn != null">
        lay_update_crud_kbn = #{layUpdateCrudKbn,jdbcType=CHAR},
      </if>
      <if test="laySysRemarks != null">
        lay_sys_remarks = #{laySysRemarks,jdbcType=VARCHAR},
      </if>
    </set>
    where lay_id = #{layId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="jp.co.plussum.ebatch.domain.entity.generator.LayoutMst">
    update layout_mst
    set lay_shp_id = #{layShpId,jdbcType=BIGINT},
      lay_content = #{layContent,jdbcType=VARCHAR},
      lay_del_flg = #{layDelFlg,jdbcType=CHAR},
      lay_cdate = #{layCdate,jdbcType=DATE},
      lay_ctime = #{layCtime,jdbcType=TIME},
      lay_ctimestamp = #{layCtimestamp,jdbcType=TIMESTAMP},
      lay_udate = #{layUdate,jdbcType=DATE},
      lay_utime = #{layUtime,jdbcType=TIME},
      lay_utimestamp = #{layUtimestamp,jdbcType=TIMESTAMP},
      version_no = #{versionNo,jdbcType=BIGINT},
      lay_update_user = #{layUpdateUser,jdbcType=BIGINT},
      lay_update_sys_name = #{layUpdateSysName,jdbcType=VARCHAR},
      lay_update_class_name = #{layUpdateClassName,jdbcType=VARCHAR},
      lay_update_method_name = #{layUpdateMethodName,jdbcType=VARCHAR},
      lay_update_crud_kbn = #{layUpdateCrudKbn,jdbcType=CHAR},
      lay_sys_remarks = #{laySysRemarks,jdbcType=VARCHAR}
    where lay_id = #{layId,jdbcType=BIGINT}
  </update>
  <select id="selectByExampleWithRowbounds" parameterType="jp.co.plussum.ebatch.domain.entity.generator.LayoutMstCriteria" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from layout_mst
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectOneByExample" parameterType="jp.co.plussum.ebatch.domain.entity.generator.LayoutMstCriteria" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from layout_mst
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    limit 1
  </select>
</mapper>